# Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=utp_scholarship
DB_USER=root
DB_PASS=
TRUSTED_PROXY=
MAIL_FROM=noreply@yourdomain.com
APP_URL=http://localhost
UPLOAD_DIR=uploads/documents
APP_ENV=production
